{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
      <h1>
        <a href="{% url 'configuracion:conf_municipio' %}">Municipios</a>
        <small>Editar Información</small>
      </h1>
      {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <br>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                     <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro completado!</h4>{{ message }}
                     </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Edición Exitosa!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i>Registro Borrado!</h4>{{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i>Alerta!</h4>{{ message }}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
      {% endif %}
    </section>
    <section>
    <div class="col-md-12">
          <div class="nav-tabs-custom">
              <!-- pestañas de el formulario-->
            <div class="tab-content">
                <!-- barras de acceso -->
                <div class="active tab-pane" id="municipios">
                    <div class="row">
                      <div class="col-md-6">
                          <form role="form" action="{% url 'configuracion:conf_municipio_editar' municipios.id %}" method="POST">
                              {% csrf_token %}

                              <input type="hidden" class="form-control" id="id" placeholder="CODIGO"
                                     name="id" value="{{municipios.id}}">

                              <div class="row">
                                  <div class="col-md-12">
                                   <label>Departamentos</label>
                                  <div class="input-group ">
                                    <span class="input-group-addon"><i class="fa fa-binoculars"></i></span>
                                      <select class="form-control select2 " style="width: 100%;" name="departamentos" required>
                                           <option value="" selected disabled></option>
                                              {% for departamentos in lista_departamentos %}

                                              <option value="{{departamentos.id}}"
                                                   {% if departamentos.id == municipios.departamentos_id %}selected{% endif %}>
                                                   {{departamentos.descripcion}}
                                               </option>
                                              {% endfor %}
                                      </select>
                                  </div>
                              </div>

                              </div>
                              <div class="row">
                                  <div class="col-md-12">
                                     <label>Codigo</label>
                                     <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                       <input type="text" class="form-control" id="codigo"
                                             name="codigo" placeholder="Codigo DIAN "
                                             style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();"
                                              value = "{{municipios.codigo}}" required>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-12">
                                     <label>Descripcion </label>
                                     <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                       <input type="text" class="form-control" id="descripcion"
                                             name="descripcion" placeholder="Descripcion "
                                             style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();"
                                              value = "{{municipios.descripcion}}" required>
                                      </div>
                                  </div>
                              </div>
                              <br>
                              <!-- /.box-body -->
                              <div>
                              <button type="submit" class="btn btn-primary btn-block btn-flat">Editar</button>
                            </div>
                          </form>
                      </div>
                  </div>
                    <!-- Tabla  -->
                </div>
             </div>

          <!-- /.nav-tabs-custom -->
         </div>
    </div>
        <!-- /.col -->
    </section>

{% endblock %}